<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/spectre.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BSMod</title>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title>Website Name</title>
    <meta content="BSMod" property="og:title" />
    <meta content="Beat Saber Maps, Models, Rankings, and more all in one place!" property="og:description" />
    <meta content="https://bsm.sushipython.us" property="og:url" />
    <meta content="https://bsm.sushipython.us/static/bsmod-logo.png" property="og:image" />
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />
</head>
<body>
<header class="navbar">
  <section class="navbar-section">
    <a href="/" class="btn btn-link">Home</a>
    <a href="/maps" class="btn btn-link">Maps</a>
    <a href="/models" class="btn btn-link">Models</a>
    <a href="/scoresaber" class="btn btn-link">ScoreSaber</a>
  </section>
  <section class="navbar-center">
    <img src="/static/bsmod-logo.png" width=50 height=50 style="margin-top:10px">
  </section>
  <section class="navbar-section">
    <a href="/socials" class="btn btn-link">Socials</a>
    <a href="https://github.com/SushiPython/bsmod" class="btn btn-link">GitHub</a>
  </section>
</header>
<div class="container">
  <div class="text-center text-muted">
    Beat Saber Modding
  </div>
    <div class="hero-sm bg-gray text-center">
    <div class="hero-body">
      <h1>{% block heading %}{% endblock %}</h1>
    </div>
  </div>
  {% block content %}{% endblock %}<div style="text-align:center"><div class="loading loading-lg"></div>This may take a bit due to ratelimits...</div>
</div>
</body>
</html>
{% block script %}{% endblock %}
<style>
  .cextra {
    margin:1em;
    padding:1em;
    background:#011627;
    color: #FDFFFC;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);
  }
  .homepanel { 
    width: 50%;
  }
  .none {
    display: none;
  }
</style>
