{% extends "base.html" %}
{% block heading %}Modding Guides{% endblock %}
{% block content %}
  <div class="columns">
    <div class="column text-center text-large cextra">
      <span style="font-size:50px">Quest</span>
      <br>
      <a href="https://www.youtube.com/watch?v=yciaZmCcEVs">Video Guide</a><br>
      <a href="https://bsmg.wiki/quest-modding.html">Written Guide</a>
    </div>
    <div class="column text-center text-large cextra">
      <span style="font-size:50px">PC</span><br>
      <a href="https://www.youtube.com/watch?v=AhmlwlCKnSM">Video Guide</a><br>
      <a href="https://bsmg.wiki/pc-modding.html">Written Guide</a>
    </div>
  </div>
{% endblock %}
