{% extends "base.html" %}
{% block heading %}Beat Saber Maps{% endblock %}
{% block content %}<div id="items"></div>{% endblock %}
{% block script %}
  var pageNum = 1;
  function loadPage(page) {
  fetch('/api/maps?page='+page.toString()+'&sort=plays')
  .then(response => response.json())
  .then(data => {
    for (var key in data.docs) {
    if (data.docs.hasOwnProperty(key)) {
        console.log(key + " -> " + data.docs[key]);
        createItem(data.docs[key])
    }
  }
  })
  }
  function createItem(data) {
    $(`
<div class="card text-center block cextra">
  <div class="card-image p-center">
    <img src="${data.versions[0].coverURL}">
  </div>
  <div class="card-header">
    <div class="card-title h5">${data.name}</div>
    <div class="card-subtitle">${data.uploader.name}</div>
  </div>
  <div class="card-body">
    Released:
  </div>
  <div class="card-footer">
    <button href="${data.versions[0].downloadURL}" class="btn btn-link">Download</button>
  </div>
</div>
`).appendTo('#items');
  }
  $( document ).ready(function() {
    loadPage(pageNum);
    pageNum = pageNum + 1;
  });
  $(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() == $(document).height()) {
     loadPage(pageNum);
     pageNum = pageNum + 1;
   }
});
{% endblock %}