{% extends "base.html" %}
{% block heading %}{{data.name}}{% endblock %}
  {% block embed %}
  <meta content="BSMod | {{data.name}} by {{data.author}}" property="og:title" />
  <meta content="Beat Saber Maps, Models, Rankings, and more all in one place!
  Tags: {{data.tags}}" property="og:description" />
  <meta content="https://bsm.sushipython.us" property="og:url" />
  <meta content="{{data.img}}" property="og:image" />
  <meta content="#43B581" data-react-helmet="true" name="theme-color" />
  {% endblock %}
{% block content %}
<div class="columns">

  <div class="column round-corners gradient" style="margin:1em">
    <div class="columns">
      <div class="column"><img height=512 width=512 src="{{data.img}}"></div>
      <div class="column">
    <div style="height:60vh;overflow-y:auto;white-space:pre-wrap;padding:.3em;font-size:30px;">{{data.content|safe}}</div>
  </div></div>




<style>
.gone {
  display: none;
}
</style>
{% endblock %}
