{% extends "base.html" %}
{% block heading %}ScoreSaber{% endblock %}
{% block content %}

<div class="input-group" style="margin-left: auto;margin-right: auto;width:50%">
  <label class="form-checkbox form-inline">
    <input id="verified" type="checkbox"><i class="form-icon"></i> Verified
  </label>
  <label class="form-checkbox form-inline">
    <input id="ranked" type="checkbox"><i class="form-icon"></i> Ranked
  </label>
  <div class="form-group">
  <select id="sort" class="form-select">
    <option value="0">Trending</option>
    <option value="1">Date Ranked</option>
    <option value="2">Popularity</option>
    <option value="3">Difficulty</option>
    <option value="4">Mapper</option>
  </select>
</div>
  <div class="form-group">
  <select id="sortorder" class="form-select">
    <option value="desc">Descending</option>
    <option value="asc">Ascending</option>
  </select>
</div>
  <button style="width: 2em;"id="submit" class="btn input-group-btn">Search</button>
</div>

<div id="items" class="columns"></div>{% endblock %}
{% block script %}
<script>
  
  var pageNum = 1;
  currentUrl = '';
  function timeToDate(item) {
    var newDate = Date.parse(item);
    return new Date(newDate).toISOString().slice(0, 19).replace('T', ' ');
  }


  function loadPage(page) {
  currentUrl = `https://bsm.sushipython.us/api/ssscrape?page=${page.toString()}&cat=${$("#sort").val()}&sort=${$("#sortorder").val()}&minStar=0&maxStar=20&verified=${$("#verified").is(':checked')}&ranked=${$("#ranked").is(':checked')}`
  console.log(currentUrl)
  fetch(currentUrl)
  .then(response => response.json())
  .then(data => {
    console.log('execute')
    for (var key in data) {
    if (data.hasOwnProperty(key)) {
      going = false;
        createItem(data[key])
    }
  }
  })
  }
var going = false;
$(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() > $(document).height() - 10 && going==false) {
    going = true;
    loadPage(pageNum);
    pageNum++;
    console.log('end')
   }
});
  function oneClick(url) {
    fetch('/api/downloadscoresaber?name='+url)
    .then(response => response.text())
    .then(data => {
      console.log(data);
      window.location = data;
    })
  }

  function createItem(data) {
    $(`
      <div class="card text-center block cextra column">
        <div class="card-image p-center">
          <img height=200 width=200 src="https://scoresaber.com${data.image}">
        </div>
        <div class="card-header">
          <div class="card-title h5">${data.name} - ${data.author}</div>
          <div class="card-subtitle">${data.difficulty}</div>
        </div>
        <div class="card-body">
          <span style="color:gray">Plays (Past Day): </span> ${data.plays_pastday}<br>
          <span style="color:gray">Plays: </span> ${data.total_plays}<br>
          <span style="color:gray">Stars: </span>${data.stars}
        </div>
        <div class="card-footer">
          <a onclick="oneClick('${data.name}')" class="btn btn-link">OneClick</a>
        </div>
      </div>
    `).appendTo('#items');
  }


$( document ).ready(function() {
  loadPage(pageNum);
  pageNum = pageNum + 1;
});


$("#submit").click(function() {
  document.getElementById('items').innerHTML = "";
  pageNum = 1;
  loadPage(pageNum);
  pageNum++;
})





</script>
{% endblock %}