{% extends "base.html" %}
{% block heading %}Homepage{% endblock %}
{% block content %}
<div class="columns">

  <div class="column round-corners gradient" style="margin:1em">
    <span style="font-size:50px;overflow-wrap: break-word;">Questboard Noticeboard</span>
    <div style="height:60vh;overflow-y:auto;white-space:pre-wrap;padding:.3em;">{{board|safe}}</div>
  </div>
  <div class="column gradient round-corners text-center" style="margin:1em">
    <div>
      <span style="font-size:50px">External Links</span>
      <br>
      <a class="wiki" href="https://bsmg.wiki">BSMG Wiki</a><br>
      <a class="link" href="https://beatsaver.com/">Beat Saver</a><br>
      <a class="link" href="https://modelsaber.com/">ModelSaber</a><br>
      <a class="link" href="https://bsaber.com/">BeastSaber</a><br>
      <a class="link" href="https://beatmods.com/">BeatMods</a><br>
      <a class="discord" href="https://discord.gg/beatsabermods">BSMG Discord</a><br>
      <a class="discord" href="https://discord.gg/rjVDapkMmj">BeatSaver Discord</a><br>
      <a class="discord" href="https://discord.gg/WpuDMwU">ScoreSaber Discord</a><br>
      <a class="video" href="https://www.youtube.com/watch?v=AhmlwlCKnSM">PC Modding Video Guide</a><br>
      <a class="wiki" href="https://bsmg.wiki/pc-modding.html">PC Modding Wiki Guide</a><br>
      <a class="video" href="https://www.youtube.com/watch?v=yciaZmCcEVs">Quest Modding Video Guide</a><br>
      <a class="wiki" href="https://bsmg.wiki/quest-modding.html">Quest Modding Wiki Guide</a>
    </div>
    <div>
      <span style="font-size:50px">Credits</span><br>
      <span><strong>BeatSaver:</strong> Maps List + Maps API</span><br>
      <span><strong>ModelSaber:</strong> Models List + Models API</span><br>
      <span><strong>ScoreSaber:</strong> Ranking</span><br>
      <span><strong>Hitbloq:</strong> Map Collections</span><br>
      <span><strong>Beat Mods [SOON]:</strong> Mods List + Mods API</span><br>
      <span><strong>SushiPython:</strong> Development</span>
    </div>
  </div>




<style>
.gone {
  display: none;
}
</style>
{% endblock %}
