{% extends "base.html" %}
{% block heading %}Homepage{% endblock %}
{% block content %}
<div class="columns">

  <div class="column col-6 round-corners gradient" style="margin:1em">
    <span style="font-size:50px">Questboard Noticeboard</span>
    <div style="height:50vh;overflow-y:auto;white-space:pre-wrap;padding:.3em;">{{board|safe}}</div>
  </div>
  <div class="column gradient round-corners text-center" style="margin:1em">
    <div>
      <span style="font-size:50px">External Links</span>
      <br>
      <a href="https://bsmg.wiki">BSMG Wiki</a><br>
      <a href="https://beatsaver.com/">Beat Saver</a><br>
      <a href="https://modelsaber.com/">ModelSaber</a><br>
      <a href="https://bsaber.com/">BeastSaber</a><br>
      <a href="https://beatmods.com/">BeatMods</a><br>
      <a href="https://discord.gg/beatsabermods">BSMG Discord</a><br>
      <a href="https://discord.gg/rjVDapkMmj">BeatSaver Discord</a><br>
      <a href="https://discord.gg/WpuDMwU">ScoreSaber Discord</a>
    </div>
    <div>
      <span style="font-size:50px">Credits</span><br>
      <span><strong>BeatSaver:</strong> Maps List + Maps API</span><br>
      <span><strong>ModelSaber:</strong> Models List + Models API</span><br>
      <span><strong>ScoreSaber:</strong> Ranking</span><br>
      <span><strong>Hitbloq:</strong> Map Collections</span><br>
      <span><strong>Beat Mods [SOON]:</strong> Mods List + Mods API</span><br>
      <span><strong>SushiPython:</strong> Development</span>
    </div>
  </div>
  <div class="column gradient round-corners text-center" style="margin:1em">
    <div>
      <span style="font-size:50px">Modding Guides</span><br>
      <span style="font-size:25px">Quest</span><br>
      <a href="https://www.youtube.com/watch?v=yciaZmCcEVs">Video Guide</a><br>
      <a href="https://bsmg.wiki/quest-modding.html">Written Guide</a><br>
      <span style="font-size:25px">PC</span><br>
      <a href="https://www.youtube.com/watch?v=AhmlwlCKnSM">Video Guide</a><br>
      <a href="https://bsmg.wiki/pc-modding.html">Written Guide</a>
  </div>
</div>




<style>
.gone {
  display: none;
}
</style>
{% endblock %}
